<form>
  <input type="text" [(ngModel)]='newTodoTitle' name="todoTitle">
  <button (click)='addTodo($event)'>Add Todo</button>
</form>
<ul>
    <li *ngFor='let todo of todos'>
        {{ todo.title }}
        <input type="checkbox" [checked]='todo.completed'>
        <button (click)='delTodo(todo.id)'>X</button>
    </li>
</ul>
